*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-400: #555;
  --base-800: #000;
  --blue: #3980be;
  --blue-100: #e2f8ff;
  --blue-400: #9acddb;
  --blue-800: #347cba;
  --gold: #FFD700;
  --gold-100: #FFECB3;
  --gold-400: #FFC107;
  --gold-800: #8B7500;
  --yellow: #F5DEB3;
  --yellow-100: #FFF8DC; 
  --yellow-400: #FFECB3; 
  --yellow-800: #FFD700; 
  --muted-pastel-blue: #c4d7e7;
  --blue-sky: #87CEEB;

}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  background-color: var(--muted-pastel-blue); 
}

a {
  text-decoration: none;
  color: var(--gold);
  &:hover {
      text-decoration: underline;
  }
}

header {
  width: calc(100vw - 60px);
  margin: 0 30px;
  margin-top: -30px;
  border-radius: 20px;
  font-weight: bolder;
  overflow:hidden;
  position: fixed;
  background-color: var(--blue-sky);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .logo-text {
      font-family: "Arial Black", Arial, sans-serif;
      font-style: italic;
      margin-left: 10px;

  }
  .logo-text {
    transition: visibility 0.3s, opacity 0.3s ease;
  }
  /*hide the name for small screens when menu open*/
  .logo-text.hidden {
    visibility: hidden;
    opacity: 0;
  }

  @keyframes dance {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .logo-text.dancing {
    animation: dance 0.5s infinite alternate;
  }

  nav {
      display: flex;
      align-items: center;
      ul {
          display: flex;
          list-style-type: none;
          gap: 5px;
          li {
              display: inline-block;
              a {
                  display: inline-block;
                  padding: 10px 20px;
                  color: var(--base-800);
                  &:hover {
                      background-color: var(--blue-100);
                      border-radius: 10px;
                      text-decoration: none;
                  }
              }
          }
      }
      .mobile-toggle {
          display: none;
          color: var(--base-800);
          background-color: var(--muted-pastel-blue);
          border-radius: 50%;
          padding: 10px;
          @media (max-width: 768px) {
              display: inline-block;
              position: absolute;
              top: 20px;
              right: 20px;
          }
      }
      .mobile-toggle:hover{
        background-color: var(--blue-100);
      }
  }

  @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      
  }

  @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      nav {
          margin-top: 10px;
          width: 100%;
          ul {
              display: none;
              flex-direction: column;
              text-align: center;
              width: 100%;
              a{
                  width: 100%;
              }
              &.active {
                  display: flex;
              }
          }
      }
      
  }
}

section {
max-width:1440px;
margin:auto;
gap:30px;
margin-top:30px;
margin-bottom:30px;

@media (max-width:1440px){
  padding-left:30px;
  padding-right:30px;
}
}

.button {
display:inline-block;
padding:10px 30px;
margin-right: 30px;
background-color: var(--blue);
color: var(--base-800);
border-radius:10px;
transition: ease 0.3s all;
&:hover {
  text-decoration:none;
  background-color: var(--base-800);
  color: var(--base-100);
}
&.white {
  background-color: white;
  color: var(--base-800);
  &:hover {
    background-color: var(--blue-100);
    color: var(--base);
  }
}
&.black {
  background-color: black;
  color: white;
  &:hover {
    background-color: var(--base-400);
    color: var(--base-100);
  }
}

}

h1 {
font-size:64px;
line-height:1;
margin-bottom:10px;
small {
  display:block;
  font-weight:100;
}
@media (max-width:1024px){
  font-size:48px;
}
}

.hero {
  padding-top: 100px;
  display: flex;
  @media (max-width: 1024px) {
      flex-direction: column;
      
  }

  .hero-blue {
      flex: 1;
      background-color: var(--blue-sky);
      border-radius: 30px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
    @media (max-width:1024px){
      display:none;
    }
  }
      .call-to-action {
          margin-top: 20px;
          margin-bottom: 20px;
          a {
              margin-top: 10px;
              margin-bottom: 10px;
          }
      }
      .social-links {
          a {
              &:hover {
                  text-decoration: none;
              }
          }
      }
  }
  .hero-marroon {
      flex: 1;
      background-color: var(--muted-pastel-blue);
      border-radius: 30px;
      padding: 0px 30px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      img {
          margin-top: 10px;
          max-width: 420px;
          margin-bottom: 10px;
          border-radius: 50%;
      }
  }
}

.logos {
background-color: var(--base-100);
border-radius:30px;
padding:30px 0px;
@media (max-width:1440px){
  border-radius:0px;
}
.marquee {
  width:100vw;
  max-width:100%;
  height:128px;
  overflow:hidden;
  position:relative;
  .track {
    position:absolute;
    white-space:nowrap;
    will-change:transform;
    animation: marquee 40s linear infinite;
    display:flex;
    gap:10px;
  }
}
}

@keyframes marquee {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-50%);
}
}

h2 {
font-size:64px;
line-height:1;
margin-bottom:10px;
text-align:center;
color: var(--base-800);
padding:30px;
small {
  display:block;
  font-weight:100;
  font-size:0.5em;
  color:var(--base-800);
}
  a {
      display: block;
      font-weight:600;
  font-size:0.5em;
  color:var(--gold-400);
  }
@media (max-width:1024px){
  font-size:48px;
}
}

.home-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white; 
  background-color: var(--blue-800);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-link:hover {
  background-color: var(--blue-400);
text-decoration: none;
}


h3 {
font-size:32px;
font-weight:600;
line-height:1;
margin-bottom:20px;
color: var(--base-800);
}

.skills {
.holder-blue {
  background-color: var(--blue-sky);
  border-radius:30px;
  padding:30px;
  display:flex;
  @media(max-width:1024px){
    flex-direction:column;
  }
  .left-column {
    flex:1;
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      gap:10px;
      margin-right:100px;
      margin-bottom:20px;
      li {
        display:inline-block;
        background-color: var(--blue-800);
        padding:10px 20px;
        border-radius:15px;
        margin-bottom:10px;
      }
    }
  }
  .right-column {
    flex:1;
    p {
      margin-bottom:20px;
    }
  }
}
}

.work-experience {
	.jobs {
		display:grid;
		gap:30px;
        grid-template-columns: repeat(2, 1fr);
		@media(max-width:1024px){
			grid-template-columns: 1fr;
		}
		article {
			background-color: var(--blue-400);
			padding:30px;
			border-radius:30px;
			flex:1;
			h3 {
				margin-top:20px;
				margin-bottom:10px;
			}
			div {
				font-weight:600;
				margin-bottom:5px;
				color: var(--base-800);
			}
			p {
				margin-bottom:10px;
			}
			figure {
				width:100%;
				padding-top:56.25%;
				overflow:hidden;
				position:relative;
				border-radius:15px;
				img {
					position:absolute;
					top:0;
					left:0;
					height:100%;
					object-fit:cover;
					transition: ease 3s all;
				}
				figcaption {
					position:absolute;
					bottom:0;
					left:0;
					right:0;
					background-color: rgba(0,0,0,0.5);
					color: var(--base-100);
					text-align:center;
					padding:10px;
					opacity:0;
					visibility:hidden;
					transition: ease 0.3s all;
				}

				&:hover {
					figcaption {
						opacity:1;
						visibility:visible;
					}
					img {
						transform: scale(1.2);
					}
				}

			}
		}
	}
}

.bento {
  .bento-grid {
		display:grid;
		gap:30px;
        grid-template-columns: repeat(2, 1fr);
		@media(max-width:1024px){
			grid-template-columns: 1fr;
		}
		article {
			background-color: var(--blue-400);
			padding:30px;
			border-radius:30px;
			flex:1;
			h3 {
				margin-top:20px;
				margin-bottom:10px;
			}
			div {
				font-weight:600;
				margin-bottom:5px;
				color: var(--base-800);
			}
			p {
				margin-bottom:10px;
			}
			figure {
				width:100%;
				padding-top:56.25%;
				overflow:hidden;
				position:relative;
				border-radius:15px;
				img {
					position:absolute;
					top:0;
					left:0;
					height:100%;
					object-fit:cover;
					transition: ease 3s all;
				}
				figcaption {
					position:absolute;
					bottom:0;
					left:0;
					right:0;
					background-color: rgba(0,0,0,0.5);
					color: var(--base-100);
					text-align:center;
					padding:10px;
					opacity:0;
					visibility:hidden;
					transition: ease 0.3s all;
				}

				&:hover {
					figcaption {
						opacity:1;
						visibility:visible;
					}
					img {
						transform: scale(1.2);
					}
				}

			}
		}
	}
}

.chatbot {
  padding: 30px;
}

.chatbot-blue {
  background-color: var(--blue-sky);
  border-radius: 30px;
  padding: 30px;
  gap: 30px;
  display: flex;
  flex-direction: row; /* Default flex direction */
}

.chat-info {
  flex: 3;
  padding-right: 30px;
}

.chat-box {
  flex: 4;
  background: white;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.scroll-area {
  max-height: 300px;
  height: 300px;
  overflow-y: scroll;
}

.scroll-area ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
}

.scroll-area li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.scroll-area li.user {
  text-align: right;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.scroll-area li span {
  background-color: var(--muted-pastel-blue);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.scroll-area li.user span {
  background-color: var(--blue);
}

.chat-message {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.chat-message input {
  border-radius: 10px;
  flex: 1;
  padding: 10px;
  border: 1px solid transparent;
  background-color: var(--base-100);
}

.chat-message input:hover,
.chat-message input:focus {
  outline: none;
  background-color: white;
  border: 1px solid var(--base-100);
}

.chat-message button {
  border: none;
  cursor: pointer;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .chatbot-blue {
    flex-direction: column; /* Stack vertically on smaller screens */
  }
  
  .chat-info {
    padding-right: 0;
    padding-bottom: 30px; /* Add spacing between sections */
  }
}

@media (max-width: 768px) {
  .scroll-area li span {
    width: 48px;
    height: 48px; /* Smaller avatars on smaller screens */
  }
}

@media (max-width: 480px) {
  .chat-message input {
    padding: 10px; /* Smaller padding for input field */
  }
  
  .chat-message button {
    padding: 10px; /* Adjust button padding if necessary */
  }
}


footer.footerbox {
  background-color: var(--base-100);
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid var(--base-800);
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer .footer-logo img {
  margin-bottom: 10px;
}

footer .footer-text {
  color: var(--base);
}

footer .footer-linkedin,
footer .footer-github {
  margin-top: 10px;
  & a:hover {
      background-color: var(--blue-sky);
      color: var(--blue);
  }
}

footer .footer-linkedin a,
footer .footer-github a {
  color: var(--marroon);
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
  footer .footer-content {
      flex-direction: column;
  }

  footer .footer-linkedin,
  footer .footer-github {
      margin-top: 5px;
  }
}
